<?xml version="1.0"?>
<packages>
    <package id="adobereader" />
    <package id="cmder" />
    <package id="cyberduck" />
    <package id="firefox" />
    <package id="flashplayerplugin" />
    <package id="git" />
    <package id="googlechrome" />
    <package id="libreoffice" />
    <package id="nodejs.install" />
    <package id="postman" />
    <package id="putty" />
    <package id="python" />
    <package id="pip" />
    <package id="ruby" />
    <package id="sakuraeditor" />
    <package id="teraterm" />
    <package id="visualstudiocode" />
    <package id="virtualbox" />
    <package id="vagrant" />
    <package id="winmerge" />
    <package id="winscp" />
    <package id="yarn" />
</packages>
