<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>b</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>━</string>
		<key>shortcut</key>
		<string>f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>～</string>
		<key>shortcut</key>
		<string>k</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>○</string>
		<key>shortcut</key>
		<string>m</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>□</string>
		<key>shortcut</key>
		<string>s</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>△</string>
		<key>shortcut</key>
		<string>ss</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>y</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>■</string>
		<key>shortcut</key>
		<string>くし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>●</string>
		<key>shortcut</key>
		<string>くま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┗</string>
		<key>shortcut</key>
		<string>ひし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┏┳━┓</string>
		<key>shortcut</key>
		<string>ふとわく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┗┻━┛</string>
		<key>shortcut</key>
		<string>ふとわく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┌┬─┐</string>
		<key>shortcut</key>
		<string>ほそわく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>└┴─┘</string>
		<key>shortcut</key>
		<string>ほそわく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> -&gt; </string>
		<key>shortcut</key>
		<string>やあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>やう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>やし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>やひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>やみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇔</string>
		<key>shortcut</key>
		<string>やり</string>
	</dict>
</array>
</plist>
